<header class="header">
  <div class="header__container">
    <div style="display: flex; padding-left: 16px" (click)="goTo('')">
      <div [inlineSVG]="'../../../assets/icons/header/home.svg'"></div>
      <button mat-button class="header__links">home</button>
    </div>
    <div style="display: flex" (click)="goTo('/create-post')">
      <div
        class="header__add--icon"
        [inlineSVG]="'../../../assets/icons/header/add.svg'"
      ></div>
      <button mat-button class="header__links">create post</button>
    </div>
  </div>
</header>
