@use '../../css/variables.scss';
@use '../../css/mixins.scss';

.header {
  background: variables.$header-gradient;
  width: 100%;
  padding: 25px 0;
  color: variables.$white;

  &__container {
    position: relative;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mixins.xl {
      width: 768px;
    }

    @include mixins.md {
      width: 576px;
    }

    @include mixins.sm {
      width: 100%;
    }
  }

  &__links {
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;

    @include mixins.md {
      display: none;
    }
  }

  &__home--icon {
    cursor: pointer;
  }

  &__add--icon {
    cursor: pointer;
    @include mixins.md {
      position: absolute;
      right: 16px;
    }
  }
}
