<article class="card" *ngFor="let post of posts; let i = index">
  <div class="card__title">{{ post.title }}</div>
  <div class="card__subtitle">{{ post.subtitle }}</div>
  <div class="card__line"></div>
  <div class="card__body">{{ post.body }}</div>
  <div class="card__buttons">
    <div class="card__created">{{ post.createdAt | date: "medium" }}</div>
    <div style="display: flex">
      <div class="card__edit" (click)="goTo('edit/' + post.id)">{{ edit }}</div>
      <div
        class="card__trash"
        [inlineSVG]="'../../../assets/icons/card/trash.svg'"
        (click)="deletePost(post, i)"
      ></div>
    </div>
  </div>
</article>
