$white: #ffffff;
$black: #000000;
$red: #d00000;
$gray: #d9d9d9;
$geraldine: #e86e6e;
$darkGray: #bfbfbf;
$background-color: #fff2e6;
$header-gradient: radial-gradient(
  circle,
  rgba(182, 29, 38, 0.9978011913513869) 20%,
  rgba(208, 0, 0, 0.8152169216884656) 100%
);
