<section class="background">
  <h2 class="background__title">
    {{ create }} <span style="color: #000; font-size: 3rem">{{ post }}</span>
  </h2>
  <form (ngSubmit)="createPost()" class="form" [formGroup]="createForm">
    <div class="form__box">
      <input
        class="form__input"
        placeholder="title"
        type="text"
        maxlength="20"
        formControlName="title"
        spellcheck="false"
      />
    </div>
    <div class="form__box">
      <input
        class="form__input"
        placeholder="subtitle"
        type="text"
        maxlength="24"
        formControlName="subtitle"
        spellcheck="false"
      />
    </div>
    <div class="form__box">
      <textarea
        class="form__input"
        type="text"
        maxlength="500"
        placeholder="body"
        formControlName="body"
        spellcheck="false"
      ></textarea>
    </div>

    <div class="form__box form__box--button">
      <button
        type="submit"
        class="button button--primary"
        [disabled]="createForm.invalid"
      >
        create post
      </button>
    </div>
  </form>
</section>
